[mysqld]user = mysqlpid-file = /var/run/mysqld/mysqld.pidsocket = /var/run/mysqld/mysqld.sockport = 3306basedir = /usrdatadir = /var/lib/mysqltmpdir = /tmplc-messages-dir = /usr/share/mysqlskip-external-locking# Network settingsbind-address = 0.0.0.0max_connections = 100# Memory and cache settingskey_buffer_size = 16Mmax_allowed_packet = 16Mthread_stack = 192Kthread_cache_size = 8query_cache_limit = 1Mquery_cache_size = 16M# InnoDB settingsinnodb_buffer_pool_size = 256Minnodb_log_file_size = 64Minnodb_flush_log_at_trx_commit = 1innodb_file_per_table = 1innodb_open_files = 400innodb_flush_method = O_DIRECT# Logging settingslog_error = /var/log/mysql/error.logslow_query_log = 1slow_query_log_file = /var/log/mysql/mysql-slow.loglong_query_time = 2# Timezone settingsdefault-time-zone = 'Asia/Seoul'# Character set settingscharacter-set-server = utf8mb4collation-server = utf8mb4_unicode_ci